* {
    margin: 0px;
    padding: 0px;
}
/*modifico el header*/
header {
    font-family: Original Surfer; /*agrego la font que descargué*/
    margin:5px;
}
header h1{
    font-size: 5vw;
    color:#6a2c70;
    text-align: center;
    padding: 4vw;
}
/*menu de navegacion*/
#nav-bar {
    color: #6a2c70;
    font-size: 170%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
    border-bottom: dotted 15px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
nav li {
    display:inline; /*para que los elemenos de nav se muestren en la misma linea*/
    padding: 5px; /*modifique el relleno*/
    margin:17px; /*modifique los margenes de los elementos*/
}
#nav-bar li:hover { /*aplique hover para cuando pasa el cursor por encima*/
    border: 2px solid #6a2c70;
    border-radius: 15px; /*con esto se redondean los bordes*/
    padding: 5px;
    margin:15px;
}
nav li a {
    text-decoration: none; /*le saqué la línea de enlace de nav*/
    color: #b83b5e;
}

/*cuerpo de la pagina*/
body {
    font-family: Rajdhani; /*agrego las fuentes nuevas a body*/
    text-align: justify;
}
main {
    padding: 2vw;
    font-size: 20px;
}
/*icono de volver arriba*/
.icon {
    color:#000000 !important;
}
.icon-arriba {
    position:fixed;
    bottom:20px;
    right: 20px;;
    width: 4vw;
}
/*titulos*/
h2 {
    text-align: center;
    color:#f08a5d;
    margin-bottom: 1%;
}
h3 {
    text-align: left;
    color:#f08a5d;
    margin-bottom: 1%;
    margin-top: 2%;
}
/*galeria de fotos*/
#galeria {
    background-color:#b83b5e;
    overflow: auto;
    box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
    border-radius: 15px;
    overflow:hidden;
    display:flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}
.img-galeria {
    width: 30%;
    height: 30%;
    border-radius: 15px;
    margin: 1.2vw;
    border:2px solid #000000; /*bordes a las imagenes, solo en main*/
}
.img-galeria:hover {
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}
/*articulos principales*/
article {
    margin-bottom: 2%;
}
article li{
    list-style-position:inside;
    list-style-type:square;
    padding-left: 2%;
}
main a:visited {
    color:#b83b5e;
}
main a:hover {
    text-decoration: none;
}
main iframe {
    margin: 2%;
    float:right;
    border: 4px double  #b83b5e;
}
/*tabla de pagina alimentacion*/
.tipo_de_alimentos {
    margin-top: 1%;
    table-layout: fixed;
    border-collapse: collapse;
    border: solid #b83b5e;
}
th {
    padding:1%;
    font-size: 2.3vw;
    border-bottom: solid #f08a5d;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.categorias {
    font-size: 2vw;
    font-family: 'Indie Flower', cursive;
}
td {
    padding: 1%;
}
.mobile {
    display: none;
}
/*formulario de contacto*/
#contacto {
    border: 3px dashed #6a2c70;
    font-size: 2vw;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 50vw;
    margin: 2% 25%;
}
.sharpage {
    font-family: Original Surfer;
    color:#b83b5e;
    margin: 2% 0;
}
#message {
    font-family: Rajdhani;
    padding: 1%;
}
.cajas {
    width: 20vw;
    height: 3vh;
}
.caja-texto {
    width: 40vw;
    height: 30vh;
}
.name, .email, .message {
    margin: 2% 0;
}

/*#submit_button {
    font-family: Rajdhani;
    font-size: 2vw;
    padding: 1%;
    margin: 1%;
    border: 2px solid #b83b5e;
}*/
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    margin-bottom: 3%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 800;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #b83b5e;
    box-shadow: 0px 15px 20px rgba(184, 59, 94, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
/*footer*/
footer {
    background-color: #f9ed69;
    color:#000000;
    display: inline-block;
    width: 100%;
    display: flex;
}
/*sello*/
.parrafo-footer {
    border: 2px dashed #000000;
    position: relative;
    width: 60px;
    height: 80px;
    float:left;
    margin:3%;
}
.parrafo-footer p {
    font-family: 'New Tegomin', serif;
    font-size: 1.5em;
    overflow-x: visible;
    position: absolute;
    margin: 3%;
}
/*iconos de redes*/
#redes {
    flex:2;
}
.icon-footer {
    float:right;
    width: 3%;
    margin: 5%;
    padding-right: 5%;
}
@media screen and (max-width: 640px) {
    header h1 {
        font-size: 15vw;
    }
    nav ul {
        display: grid;
        grid-template-columns: auto;
        margin: 1vw;
    }
    nav li {
        font-size: 8vw;
        text-align: center;
        grid-row-gap: 1vh;
        padding: 0px;
        margin: 0px;
    }
    #nav-bar li:hover {
        border: 0px;
        border-radius: 0px;
        padding: 0px;
        margin:0px;
    }
    .icon-arriba {
        width: 10vw;
    }
    #galeria {
        display: grid;
        grid-template-columns: auto;
        box-sizing: border-box;
    }
    .img-galeria {
        width: 96%;
        height: 96%;
        margin: 1vw;
    }
    main iframe {
        margin: 1%;
        float:none;
        width: auto;
    }
    .tipo_de_alimentos {
        display: none;
    }
    .mobile {
        display:inherit;
    }
    h4 {
        color: #b83b5e;
        padding: 1vh;
    }
    .beneficios, .desventajas {
        font-weight: 600;
        padding: 1vh;
    }
    #contacto {
        font-size: 4vw;
    }
    .icon-footer {
        width: 10%;
        margin-top: 7vh;
    }
}