@font-face { /*agrega una fuente que descargué de Google Fonts*/
    font-family: "Original Surfer";
    font-style: normal;
    font-weight: normal;
    src: url(/Web/fonts/OriginalSurfer-Regular.ttf);
}
@font-face {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: normal;
    src: url(/Web/fonts/Rajdhani-Regular.ttf)
}
header {
    font-size: 30px;
    font-family: Original Surfer; /*agrego la font que descargué*/
    color:#457b9d;
    text-align:center;
}
nav {
    color: #1d3557;
    font-size: 170%;
    text-align: center;
    border-bottom: dotted 15px;
    margin-bottom: 50px;
}
nav li {
    display:inline; /*para que los elemenos de nav se muestren en la misma linea*/
    padding: 5px; /*modifique el relleno*/
    margin:17px; /*modifique los margenes de los elementos*/
}
nav li:hover { /*aplique hover para cuando pasa el cursor por encima*/
    border: 2px solid #1d3557;
    border-radius: 15px; /*con esto se redondean los bordes*/
    padding: 5px;
    margin:15px;
}
nav li a {
    text-decoration: none; /*le saqué la línea de enlace de nav*/
}
body {
    font-family: Rajdhani; /*agrego las fuentes nuevas a body*/
    text-align: justify;
}
article h2 {
    text-align: center;
    color:#1d3557;
}
aside {
    background-color:#f1faee;
    box-shadow: #808B96 5px 10px 15px 5px; /*agregue una sombra a la caja*/
    float:right; /*con esta propiedad la caja va a la derecha*/
    margin-left: 10px; /*margen para que no pise el parrafo*/
    overflow: auto;
}
.claerfloat {
    clear:both;
}
main img {
    border:2px solid #9d457b; /*bordes a las imagenes, solo en main*/
}
footer {
    background-color: #e63946;
    color:black;
    text-align: center;
}
footer p {
    font-size: 20px;
}